#container_1 {
    display:flex;
    flex-direction: row;
}

#container_2{
    align-self:left;
}

#container_3{
    align-self: right;
    display:flex;
    flex-direction: row;
}


.item {
    justify-content:right;
    padding:48px;
}